*{
  box-sizing: border-box;
}

body {
  background-image:url(background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  width: 100%;
}

body>div{

  background-color: rgba(40,40,40,0.70);
  width: 60%;
  margin: auto;
  border-radius: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

header{
  padding-top: 5%;
}

header>img {
  width:30%;
  margin:auto;
  display: block;

}

h1 {
  color: #00dd00;
  text-align: center;
}
h2{
  margin:auto;
}
nav {
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:#00dd00;
  text-align: center;
  }

main{
  padding-bottom: 10%;
}

#carica1{
  background-color: orange;
  width: 30%;
  font-size: 24px;
  color: orange;
  margin-top: 1%;
  margin-bottom: 3%;
  border-radius:4%;
}
#carica2{
  background-color: green;
  width: 50%;
  font-size: 24px;
  color: green;
  margin-top: 1%;
  margin-bottom: 3%;
  border-radius:4%;
}
#carica3{
  background-color: red;
  width: 15%;
  font-size: 24px;
  color: red;
  margin-top: 1%;
  border-radius:4%;
}
